{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	  // your solution here
    var rotate_box = new Hammer(document.getElementById('rotate-box'));
    var pinch_box = new Hammer(document.getElementById('pinch-box'));
    var press_box = new Hammer(document.getElementById('press-box'));
    var pan_box = new Hammer(document.getElementById('pan-box'));
    var tap_box = new Hammer(document.getElementById('tap-box'));
    var swipe_box = new Hammer(document.getElementById('swipe-box'));
    
    rotate_box.get('rotate').set({ enable: true });
    rotate_box.on("rotate", function(ev) {
	    document.getElementById('rotate-box').style.backgroundColor = 'grey';
  });
    pinch_box.get('pinch').set({ enable: true });
    pinch_box.on("pinch", function(ev) {
	    document.getElementById('pinch-box').style.backgroundColor = 'red';
  });
    press_box.on("press", function(ev) {
	    document.getElementById('press-box').style.backgroundColor = 'blue';
  });
    tap_box.on("tap", function(ev) {
	    document.getElementById('tap-box').style.backgroundColor = 'red';
  });
    pan_box.on("pan", function(ev) {
	    document.getElementById('pan-box').style.backgroundColor = 'black';
  });
    swipe_box.on("pan", function(ev) {
	    document.getElementById('swipe-box').style.backgroundColor = 'green';
  });
    
  </script>
</body>
</html>
